.single-post-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.post-meta-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.author-name {
  text-align: left;
  color: gray;
}

.post-meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}