* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 1rem;
  width: calc(100% - 1rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}